*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
}

:root{
    --bg-color: #141414;
    --second-bf-color:#e76262;
    --text-color:white;
    --main-color:#8c56cf;
}

html{
    font-size: 63.5%;
    overflow: hidden;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);

}

.header{
    position: fixed;
    padding: 3rem 9%;
    width: 100%;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(0, 0,0,0,0.8);
    backdrop-filter: blur(10px);
    

}
.logo{
    font-size: 3rem;
    color:var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
}

.logo:hover{
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 400;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
   
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    text-shadow: 0  0  25px var(--main-color);
    text-shadow:         0  0  50px var(--main-color);                
}

#menu-icon{
    font-size: 36px;
    color: var(--main-color);
    display: none;
}
